body{
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",sans-serif;
    color: #000;
    background: #FFF none repeat scroll 0% 0%;
    font-size: 10pt;
    clear: both;
    padding: 0;
    margin: 0;
}
h1{
    margin: 1rem 0px 1rem 0;
    display: inline-block;
    border: medium none;
    line-height: 1.2857em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    min-height: 1rem;    
}
p{
    margin: 21px 0px;
}
a{
    cursor: pointer;
    background: transparent none repeat scroll 0px 0px;
    color: #1E70BF;
    text-decoration: none;
}
a:hover {
    color: #4183C4;    
    text-decoration: none;
}
a:active, a:hover {
    outline: 0px none;
          }
a:active{
    color: #E00;
}
input[type="text"]:not([name="share-link"]){
    font-size: 1.2em;
    -moz-appearance: none;
    border-color: rgba(34, 36, 38, 0.35);
    background: #FFF none repeat scroll 0% 0%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0px none;
    text-align: left;
    line-height: 1.2142em;
    font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 0.678614em 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.285714rem;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
    box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, 0.15);
}
.mini{
    font-size: 0.9em !important;
}
button.mini{
    padding: 0.8em 1.5em !important;
}
button.normal{
    color: rgba(0, 0, 0, 0.6) !important;
    text-shadow: none !important;
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset, 0px -0.3em 0px 0px rgba(34, 36, 38, 0.15) inset !important;
    background: #F8F8F8 linear-gradient(transparent, rgba(0, 0, 0, 0.05)) repeat scroll 0% 0% !important;
}
button.normal:focus{
    background-color: #CACBCD !important;
    color: rgba(0, 0, 0, 0.8) !important;
}
button.normal:hover{
    background-color: #CACBCD !important;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05)) !important;
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset, 0px -0.3em 0px 0px rgba(34, 36, 38, 0.15) inset !important;
    color: rgba(0, 0, 0, 0.8) !important;
}
button.normal:active{
    background-color: #BABBBC !important;
    color: rgba(0, 0, 0, 0.9) !important; 
}
.btn{
    box-shadow: 0px -0.3em 0px 0px rgba(34, 36, 38, 0.15) inset;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: medium none;
    border: medium none;
    vertical-align: middle;
    background: #2185D0 linear-gradient(transparent, rgba(0, 0, 0, 0.05)) repeat scroll 0% 0%;
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 1em 2em 1.15em;
    text-transform: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.4em;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s, #EAE8E3 0.1s ease 0s;    
}
.btn:hover{
    background-color: #1678C2;
    color: #FFF;
    text-shadow: none;    
}
.btn:active{
    background-color: #1A69A4;
    color: #FFF;
    text-shadow: none;    
}
.container{
    text-align: center;
}
.head{
    background: #F1F1F1 none repeat scroll 0% 0%;
    border-bottom: 1px solid #E5E5E5;
    height: 30px;
    position: relative;
    width: 100%;
    text-align: center;
}
.head>a{
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 8px;
    margin: 0px 10px;
    padding: 11px 2px;
    text-decoration: none;
    vertical-align: top;
    color:#666;
}
.head>a:hover{
    color: rgba(102, 102, 102, 0.81);    
}
.template{
    display:none;
}
#amap-container{
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    background: #FFF none repeat scroll 0% 0%;
    padding: 0px;
    border: medium none;
    border-radius: 0.285714rem;
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
    transition: box-shadow 0.1s ease 0s, transform 0.1s ease 0s;    
    width: 90%;
    margin: auto;
    height: 280px;
}
.map-shrink{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: 150px !important;
}
#invitation{
    text-align: left;
    background: #FFF none repeat scroll 0% 0%;
    padding: 2px 15px;
    border: medium none;
    border-radius: 0.285714rem;
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
    transition: box-shadow 0.1s ease 0s, transform 0.1s ease 0s;
    margin: 0 20px;
    line-height: 24px;
}
#invitation>p>span[name="extra"]{
    color: #555;
    font-weight: bold;    
}
.tips{
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    height: 250px;
    overflow-y: scroll;    
}
.tip{
    background-color: #FFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0px 0px 10px 0;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}
.tip > span[name="name"] {
    font-weight: bold;
    line-height: 1.2857em;
    font-size: 1.05em;
}
.tip > span[name="district"] {
    word-break: keep-all;
    display: inline-block;
    padding-top: 2px;
    color: rgba(0, 0, 0, 0.4);
}
.place-selected{
    margin-bottom: 11px;
    margin-top: -1px;
    color: rgba(0, 0, 0, 0.6);
}
.amap-logo{
    display:none !important;
}
.amap-copyright{
    display:none !important;
}
.extra-link{
    font-size: 0.8em !important;
    color: #989898;
}
.extra-link:hover{
    color: #D4D4D5;    
}
.tiny>*,.tiny{
    font-size:0.9em;
}
input.error{
    background-color: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #DB2828 !important;
    box-shadow: none !important;
}
.cover{
    display:none;
    z-index: 9999;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;    
}